files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 443 ssl;
        server_name edukona.com www.edukona.com;

        ssl_certificate /etc/letsencrypt/live/edukona.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/edukona.com/privkey.pem;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        location / {
          proxy_pass http://localhost:80;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $host;
          proxy_set_header X-Nginx-Proxy true;
        }
      }

commands:
  01_restart_nginx:
    command: "service nginx restart"
