# Documentation: https://gist.github.com/the-vampiire/489299336200659a8f96cb6f2d593b64?permalink_comment_id=3242847
# AWS resources to be provisioned for the EB environment
Resources:
  # define a SG inbound rule that allows HTTPS traffic to the EB instance
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      # added to the EB environment SG
      GroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
      IpProtocol: tcp
      # to (instance) and from (internet) TCP port 443
      ToPort: 443
      FromPort: 443 
      CidrIp: 0.0.0.0/0 

  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["edukona-ssl-certs"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role-custom"

packages:
  yum:
    mod_ssl: []

files:  
  /etc/letsencrypt/live/edukona.com/fullchain.pem:
    mode: "000400"
    owner: root
    group: root
    source: 'https://edukona-ssl-certs.s3.us-west-2.amazonaws.com/edukona.com-0002/fullchain.pem'
    authentication: S3Auth
      
  /etc/letsencrypt/live/edukona.com/privkey.pem:
    mode: "000400"
    owner: root
    group: root
    source: 'https://edukona-ssl-certs.s3.us-west-2.amazonaws.com/edukona.com-0002/privkey.pem'
    authentication: S3Auth

container_commands:
  01_reload_nginx:
    command: "service nginx reload"

  